body{
    font-size: 16px; /*1em*/
    margin: 0px auto; /*centrado pantalla*/ 
    max-width: 1078px; /*cliente*/
    min-width: 1078px;
}

body header{
    border-bottom: 1.6px dashed gray;
    padding-bottom: 10px;
    height: 200px;
}

#firstbike{
    width: 215px;
    height: 50px;
    margin: 20px 0px 40px 20px;
}

#el1{
    position: relative;
    left: 900px;
    bottom: 170px;
    max-width: 150px;
    max-height: 60px;
}

#buy{
    width: 64px;
    height: 62px;
    position: relative;
    left: 680px;
    bottom: 100px;
}

#gotoshop{
    position: relative;
    width: 15%;
    left: 670px;
    bottom: 160px;
}

body header nav{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -20px;
}

body header nav ul li{
    display: inline-block;
    font-size: 1.2em;
    padding-left: 15px;
}

body section{
    margin-bottom: 35px;
    margin-left: 20px;
}

body section article{
    display: inline-block;
}

#sec01art01{
    width: 520px;
    margin-top: 10px;
}

#sec01art01 article{
    display: inline-block;
    margin-top: 40px;
}

#sec01art01 article img{
    display: inline-block;
    width: 250px;
}

#sec01art02{
    vertical-align: top;
    width: 500px;
    height: 500px;
}

#sec01art02 img{
    display: inline-block;
    max-width: 87%;
    margin-left: 30px;
}

footer{
    margin-top: 35px;
}

footer article{
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin-left: 20px;
    color: gray;
}

#lastarticle{
    width: 20%;
}

#footerlogos{
    margin-left: 20px;
    vertical-align: bottom;
}

#fyears{
    width: 23%;
    position: relative;
    bottom: 100px;
}

#sec1hr{
    border-top: 1.6px dashed gray;
    margin-bottom: 40px;
    margin-right: 15px;
}

.nobullet{
    list-style-type: none;
}

.colorverde{
    color: rgb(123, 241, 81);
}

.colorgris{
    color: gray;
    font-size: .96em;
}

.letragrande{
    font-size: 3.4em;
    font-family: "Arial Black", Gadget, sans-serif;
}

.nito{
    font-weight: bold;
}